header{
    background: #302c2c;
    padding: 20px 0;
}

.caixa{
    width: 940px;
    position: relative;
    margin: 0 auto;
    padding: 16px 0 0 0; 
}

nav{
    position: absolute;
    top: 65px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}

#gato_zhong{
    width: 100px;
}

#yu_collector{
    width: 80%;
    border-radius: 20px;
    
}

.caixa-zhong{
    background-image: url('https://images.app.goo.gl/3DEy6ouZiaK7QfMAA');
    text-align: center;
    margin-top: 50px;
    padding: 2em;
}

body{
    background: linear-gradient(#131111, #d4c6c6)
}

p, h2{
    text-align: center;
}

.titulo_principal{
    padding: 20px;
    font-size: 50px;
    font-weight: bold;
}

#historia{
    font-style: italic;
    font-size: 25px;
    margin: 10px 10px;
    padding: 0 px;
}

.caixa_hist{
    border: 2px solid;
    padding: 5px;
}